.foot {
  display: flex;
  justify-content: center;
}

.headerDesc {
  color: white;
  margin-bottom: 15px;
  cursor: default;
  font-size: 22px;
}

.git {
  color: white;
  text-decoration: none;
  display: block;
  line-height: 36px;
  text-align: center;
}

.brandNames {
  color: white;
  text-decoration: none;
  display: block;
  line-height: 36px;
  text-align: center;
}

.productNames {
  text-align: center;
}

.localLink {
  color: white;
  text-decoration: none;
}
